# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# ChromaDB
chroma_db/
chroma_db_backup/

# Uploads
uploads/
*.txt
!requirements.txt
!runtime.txt
*.pdf

# OS
.DS_Store
Thumbs.db

